body {
    //background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
    background-size: cover;
    background-repeat: none;
}
ul, ol, li {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}