// Nav Styles
.navbar {
    color: white;
    font-family: 'IM Fell Great Primer', serif;
    font-size: 18px;
    line-height: 22px;
    margin: 0;

    ul {
        margin-bottom: 0;
        line-height: 0;
        &:after {
            content: "";
            display: inline-block;
            height: 0;
            width: 100%;
            line-height: 0;
        }
    }
    li {
        display: inline-block;
        line-height: 74px;
    }
}