// variables
$tan: #FECEA8;
$lighttan: lighten($tan, 10);
$darktan: darken($tan, 20);
$green: #99B898;
$darkgreen: darken($green, 20);
$gray: #2A363B;
$red: #E84A5F;
$pink: #FF847C;

$colors:
    $tan,
    $green,
    $gray,
    $red,
    $pink;

$repeat: 20; // How often you want the pattern to repeat.