$gold: #D8C793;
$textGray: #858585;
$darkGreen: #535f54;
$lightGreen: #a5bba7;

.hero {
    position: relative;
    .cover {
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.3);
            z-index: 1;
        }

        .cover__content_box {
            z-index: 5;
        }
    }

    .hero-logo {
        max-width: 300px;
        margin: 0 auto;
        display: block;
    }
}

.section-title {
    margin: 20px 0;
    text-align: center;
}

.build {
    position: relative;

    .about__line {
        top: 256px;
        z-index: -1;
    }
}

.header {
    transition: background 400ms ease;
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        .header__menu_link--white,
        .header__menu_link--white:hover,
        .header__menu_link--white:focus,
        .header__menu_link--white:active,
        .header__menu_link--white:visited {
            color: $textGray;
        }
        .header__logo_box .logo-gold { opacity: 1; }
        .header__menu_link--white:before { background: $textGray; }
    }
    .header__menu_link--white,
    .header__menu_link--white:hover,
    .header__menu_link--white:focus,
    .header__menu_link--white:active,
    .header__menu_link--white:visited {
        transition: all 400ms ease;
    }

    .header__logo_box {
        position: relative;

        @media screen and (max-width: 450px) {
            &:after {
                content: "Hibben";
                display: block;
                position: absolute;
                top: 50%;
                left: calc(100% + 12px);
                transform: translateY(-50%);
            }
        }

        .logo-gold {
            position: absolute;
            top: 2px;
            left: 0;
            opacity: 0;
            transition: opacity 400ms ease;
        }
    }

}

.features__item_icon_circle,
.button--blue {
    background: $gold;
}

.works.resources {
    background: $lightGreen;
    color: white;
    @media screen and (max-width: 540px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    .works__text { color: white; }
    a {
        color: $gold;
        &:hover {
            color: darken($gold, 15%);
        }
    }
    ul {
        padding: 0;
        margin: 0 0 12px;
        li {
            padding: 0;
            list-style: none;
            text-align: left;
            font-size: 12px;
            font-weight: 100;
            p {
                font-weight: 100;
            }
            &.title {
                font-size: 16px;
                margin-bottom: 12px;
            }
        }
    }
}

.contacts {
    background: $darkGreen;
}