section {
    min-height: 300px;

    .title {
        font-size: 40px;
        color: $darkgreen;
        text-shadow: 1px 1px 0 white;
    }

    img {
        max-width: 100%;
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $darkgreen;
    }
}